@{
    ViewData["Title"] = "Movie Library";
}
@model List<MovieResponse>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var x in Model)
            {
                <td>@x.Category</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.Lent</td>
                <td>@x.Notes</td>
            }
        </tr>
    </tbody>
</table>
